.gwt-TabLayoutPanel {
	border: none;
	margin: 0px;
	padding: 0px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	background-color: #898989 !important;
	vertical-align: bottom;
	height: 100%;
	line-height: 43px;
	padding-left: 7px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	background-color: #A9A9A9 !important;
	color: #DFDFDF !important;
	margin: 0px !important;
	padding: 0px !important;
	vertical-align: middle;
	cursor: pointer;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	background-color: #DFDFDF !important;
	color: #222222 !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {
	font: 9pt "UbuntuRegular";
	color: inherit;
	vertical-align: bottom;
	padding: 10px 15px 10px 15px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
	border: solid 10px #DFDFDF !important;
	margin: 0px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	background-color: #DFDFDF;
	border: none !important;
}